<%- include("../Partials/head.ejs") %>
<link rel="stylesheet" href="./css/add-pages.css">
</head>

<body>
    <%- include("../Partials/header.ejs") %>
    <%- include("../Partials/feedback.ejs") %>
    <div class="data-container container-fluid mt-5">
        <form action="/edit-expenses" method="post">
            <h1 class="m-2">Edit Expense</h1>
            <input type="hidden" name="_csrf" value="">
            <input type="hidden" name="expenseId" value="<%= expense.id %>">
            <div class="form-floating mb-0">
                <input type="text" class="form-control" id="name" name="expenseName" value="<%= expense.name %>"
                    required>
                <label for="name">Expense Name</label>
            </div>
            <div class="form-floating mb-0">
                <input type="number" step="0.01" class="form-control" id="amount" name="expenseAmount"
                    value="<%= expense.amount %>" required>
                <label for="amount">Amount</label>
            </div>
            <div class="form-floating mb-0">
                <select class="form-select" id="budget" name="expenseBudgetId" required>
                    <option selected value="null">None</option>
                    <% for (let ele of budgets) { %>
                    <option value="<%= ele.id %>" <% if
                        (ele.id === expense.budgetId) { %>selected <% } %>>
                        <%= ele.name %>
                    </option>


                    <% } %>
                </select>
                <label for="budget">Budget</label>
            </div>
            <div class="form-floating mb-0">
                <select class="form-select" id="category" name="expenseCategoryId" required>
                    <option selected value="null">None</option>
                    <% for (let ele of categories) { %>
                    <option value="<%= ele.id %>" <% if
                        (ele.id === expense.categoryId) { %>selected <% } %>>
                        <%= ele.name %>
                    </option>


                    <% } %>
                </select>
                <label for="category">Category</label>
            </div>
            <textarea id="description" placeholder="Description" name="expenseDescription" required>
                <%= expense.description %>
            </textarea>
            <button class="btn btn-light spend-smart-btn-dark mb-0" type="submit">Update</button>
        </form>
    </div>
    <%- include("../Partials/end.ejs") %>